<!DOCTYPE html>
<html>
  <head>
    <title>Profile Page</title>
  </head>
  <body>
    <h1>Form</h1>
    <form action = '/form' method = 'post'>
      <input type = 'text' name = 'name' placeholder='Enter name here'>
      <input type = 'text' name = 'email' placeholder='Enter email here'>
      <input type = 'text' name = 'interests' placeholder='Enter interests here'>
      <input type = 'text' name = 'location' placeholder='Enter location here'>
      <input type = 'text' name = 'phone_number' placeholder='Enter number here'>
      <button type="submit">Submit</button>
  </body>
</html>
